<h1>Stupid Coaching</h1>

<h2>Questions:</h2>
<p><%= params[:question].capitalize %></p>
<p><%= '-You' %></p>

<h2>Answer:</h2>
<p><%= @answer %></p>
<p><%= '-Your coach' %></p>

<%= link_to "Ask a new question", "/ask" %>


